table{
  table-layout: fixed;
  width: 100%;
}
@font-face {
  font-family: 'police';
  src: url('fonts/MADE TOMMY Medium_PERSONAL USE.otf');
}
@font-face {
  font-family: 'mustica';
  src: url('fonts/MusticaPro-SemiBold.otf');
}

.navborderr{
      cursor:pointer;
      text-decoration:none;
      color: #ff13a7;
      background-color:#ffffff;
      padding:8px 16px;
}
.navborder{
  cursor:pointer;
  text-decoration:none;
  color: #ff13a7;
  background-color:#ffffff;
  padding:8px 16px;
}

.margindiv{
  margin:  50px ;
}

.navborder:hover{
  background-color:#ff13a7; 
  padding:8px 16px;
  color:#ffffff; 
  text-decoration:none; 
  cursor:pointer;  
}
.navborderdeco:hover{
  background-color:#ff13a7; 
  padding:8px 16px;
  color:#ffffff; 
  text-decoration:none; 
  cursor:pointer;  
}
.navborderdeco{
  background-color:#ff13a7; 
  padding:8px 16px;
  color:#ffffff; 
  text-decoration:none; 
  cursor:pointer;  
}

  .programmation{
background-image: url('img/programmation.jpeg');
      object-fit: cover;
      z-index: -1;          
  }

  .histoire{
    background-image: url('img/histoire.jpeg');
          object-fit: cover;
          z-index: -1;      
            
      }
.ul1{
list-style: none;
}
nav{
height: 70px;
}
p,h1,h2,h3,h4,h5{
font-family: 'mustica', Helvetica, Arial, sans-serif;
text-decoration: none;
}
.p2{
font-family: 'mustica', Helvetica, Arial, sans-serif;
text-decoration: none;
}
.couleur{
font-family: 'mustica', Helvetica, Arial, sans-serif;
text-decoration: none;
color: #ff13a7;
}
.rose{
color: #ff13a7;
}
.hist {
position: relative;
top: 100;
left: 200px;
}
label{
font-family: 'mustica', Helvetica, Arial, sans-serif;
}
#bar{
height:10px;
width:100%;
background-color:black;
}
h3{
font-family: 'mustica', Helvetica, Arial, sans-serif;
}

#videoback /* Paramètres de positionnement de la video */
{
      height: 95%;
      width: 100%;
      object-fit: cover;

      z-index: -1;
}
bgcolor{
  background-color:#e6dbbf; 
}

body{
background-color:#eeeee4;
}
.vide{
background-color:#ff13a7;
color:#ffffff;
font-family: 'police', Helvetica, Arial, sans-serif;
}   

footer{
background-color:#ff13a7; 
height: 20px;
color: #ffffff;
text-decoration: none;
}